<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom checkbox 02</title>
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="custom-checkbox">
      <input type="checkbox" class="custom-checkbox-input" id="checkbox" />
      <label for="checkbox" class="custom-checkbox-box">
        <i class="fa fa-star custom-checkbox-icon"></i>
      </label>
      <label for="checkbox" class="custom-check-label">
        Are you a developer?
      </label>
    </div>
  </body>
</html>
