section.countdown
  .container
    .countdown-list
      .countdown-item
        h3.countdown-title 1,700+
        p.countdown-text Companies using Sendlance
      .countdown-item
        h3.countdown-title 40 million+
        p.countdown-text Emails sent daily
      .countdown-item
        h3.countdown-title 20.000+
        p.countdown-text Users on sendlance