.feature 
  .container  
    .feature-main
      .feature-image
        img(srcSet="./images/image-3.png 2x", alt="Feature Image")
      .feature-content 
        h3.heading.heading--normal.feature-title Create raving fans that keep buying over and over you get the point.
        p.text.feature-text Unlock customer insights to grow your business faster. Store all your customer data collected from storefront to marketing channels in one central hub far easy use in every strategy. 
        p.text Our open rate has tripled and our click rate on links is up at least 15%.
        a.button.button--primary.feature-link(href="#") Learn more 