section.library
  .container
    .library-header
      h2.heading.heading--big Sendlane Resource Library
      p.text Cat in tuch with of our compare and take a personal tour of Sraklune
    .library-tabs
      .library-tab.is-active Articles
      .library-tab Ebooks
      .library-tab Products
    .library-list
      .library-item
        a.library-image(href='#')
          img(src='./images/image-6.avif' alt='Library Image')
        a.library-category(href='#') Email Marketing
        h3
          a.library-title.heading.heading--small(href='#') Now to Grow Your Email List: 5 Email
      .library-item
        a.library-image(href='#')
          img(src='./images/image-7.avif' alt='Library Image')
        a.library-category(href='#') Real-time anylitics
        h3
          a.library-title.heading.heading--small(href='#') Now to Grow Your Email List: 5 Email
      .library-item
        a.library-image(href='#')
          img(src='./images/image-8.avif' alt='Library Image')
        a.library-category(href='#') Marketing Automation
        h3
          a.library-title.heading.heading--small(href='#') Now to Grow Your Email List: 5 Email
    a.button.button--primary.library-more(href='#')
      span See Update
      span.icon
        svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' stroke-width='2' style='max-height: 24px')
          path(stroke-linecap='round' stroke-linejoin='round' d='M14 5l7 7m0 0l-7 7m7-7H3')
