section.newsletter
  .container 
    .newsletter-header 
      h2.heading.heading--big More than just drips and newsletters
      p.text awareness through email became a must-have, and our ESP wasn't cutting
  .newsletter-main
    .newsletter-container
      .newsletter-content 
        h3.heading.heading--normal.newsletter-title Drive 30-40% of your revenue with email marekiting
        p.text.newsletter-desc Unlock customer insights to grow your business faster. Store all your customer data collected from storefront to marketing channels in one central hub far easy use in every strategy. 
        .newsletter-list  
          .newsletter-item
            img.newsletter-icon(srcSet="./images/icon-home.png 2x", alt="Home Icon")
            h4.heading.heading--small.newsletter-name Marketing Automation
            p.text.newsletter-text From open rates to conversion performance, get access to tons of data.
            a.newsletter-link(href="#") Read More
          .newsletter-item
            img.newsletter-icon(srcSet="./images/icon-python.png 2x", alt="Python Icon")
            h4.heading.heading--small.newsletter-name Experiments
            p.text.newsletter-text From sign up to sale track your contacts every move.
            a.newsletter-link(href="#") Read More 
      .newsletter-image 
        img(srcSet="./images/image-2.png 2x", alt="Newsletter Image")
