section.testimonial
  .container
    h2.heading.heading--big.testimonial-heading See what our customer have to say
    .testimonial-main
      .testimonial-image
        img(srcSet='./images/image-5.png 2x' alt='Testimonial Image')
      .testimonial-content
        .testimonial-text &quot;New 2022, we sent a few email blasts with MailChimp here and there, but it wasn&apos;t a focus. Once we shiftedaway from retail-only sales to eCornmerce soles, driving customer awareness through email became a must-have, and our ESP wasn&apos;t cutting
        h4.testimonial-author Lello Mhoury. Crecter of Marketing
        img.testimonial-star(srcSet='./images/image-star.png 2x' alt='Star Image')
        p.testimonial-rating 4.5 Rating Capture
