section.tools
  .container
    .tools-main
      .tools-content
        h2.heading.heading--big.tools-heading Join forces with your favorite business tools
        p.text.tools-text awareness through email became a must-have, and our ESP wasn&apos;t cutting
        a.button.button--primary.tools-button(href='#') See imagradtions
      .tools-image
        img(srcSet='./images/image-4.png 2x' alt='Tools Image')
