$font-primary: "IBM Plex Sans", sans-serif;

$bg-color: #ffffff;
$text-gray: #8393aa;
$text-black1: #1c1e22;
$gray-e9: #ebeff5;
$gray1: #5e6064;
$gray2: #a5a6b1;
$gray37: #373A43;
$gray-natural: #676A6F;
$gray-natural1: #f7f7f7;
$gray-natural2: #eff2f6;
$gray-neutral1: #fcfcfc;
$primary-color: #6e5fd3;
$primary-black: #232333;
$gradient: linear-gradient(92deg, #415EF4 0.33%, #7141EF 28.14%);

:root {
  --primary-h: 248;
  --primary-s: 57%;
  --primary-l: 60%;
  --primary-color: #6e5fd3;
}