<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dropdown menu</title>
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="dropdown">
      <div class="dropdown__select">
        <i class="fa fa-file dropdown__icon"></i>
        <span class="dropdown__text">File type</span>
        <i class="fa fa-caret-down dropdown__caret"></i>
      </div>
      <ul class="dropdown__list">
        <li class="dropdown__item">
          <i class="fa fa-file-code dropdown__icon"></i>
          <span class="dropdown__text">Markup HTML</span>
        </li>
        <li class="dropdown__item">
          <i class="fa fa-file-image dropdown__icon"></i>
          <span class="dropdown__text">Photoshop PDF</span>
        </li>
        <li class="dropdown__item">
          <i class="fa fa-file-image dropdown__icon"></i>
          <span class="dropdown__text">IIIlustrator AI</span>
        </li>
        <li class="dropdown__item">
          <i class="fa fa-file-image dropdown__icon"></i>
          <span class="dropdown__text">Sketch Sketch</span>
        </li>
      </ul>
    </div>
  </body>
</html>
