/**************************/
/* MEALS SECTION */
/**************************/

.sectionMeals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.mealContent {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.mealTags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tagVegetarian {
  background-color: #51cf66;
}

.tagVegan {
  background-color: #94d82d;
}

.tagPaleo {
  background-color: #ffd43b;
}

.mealTitle {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.mealAttributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mealAttribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.mealIcon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.mealImg {
  width: 100%;
}

.allRecipes {
  text-align: center;
  font-size: 1.8rem;
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .mealContent {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* Fixing Safari flexbox gap */
/**************************/

.noFlexboxGap .mealAttribute:not(:last-child) {
  margin-bottom: 2rem;
}

.noFlexboxGap .mealIcon {
  margin-right: 1.6rem;
}
