.widget
  +widgetHeader("Listening History")
  .listen-list
    +listenItem("./images/listening-1.png", "Perspective with Yahia Amin", "Don't Always Win | LifeSpring", "156", "78")
    +listenItem("./images/listening-2.png", "Perspective with Mufti Menk", "Keep Moving. Don't Look Back!", "156", "78")
    +listenItem("./images/listening-3.png", "Perspective with Omar Suleiman", "The Power of Forgiveness", "156", "78")