.widget.widget-podcast
  +widgetHeader("Top 8 Podcast", "#")
  .top-podcast-images
    each val in ["./images/top-podcast-1.png", "./images/top-podcast-2.png", "./images/top-podcast-3.png", "./images/top-podcast-4.png", "./images/top-podcast-5.png", "./images/top-podcast-6.png", "./images/top-podcast-7.png", "./images/top-podcast-8.png"]
      img(src=val, alt="podcast-image")